# Copyright (c) 2019 Qualcomm Technologies, Inc.
# All Rights Reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.
#
# Copyright (c) 2009-2012, 2014-2019, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     # Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     # Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     # Neither the name of The Linux Foundation nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

on early-boot

    write /sys/kernel/boot_slpi/boot 1

    chown system system /mnt/vendor/persist/sensors
    chown system system /mnt/vendor/persist/sensors/sns.reg
    chown system system /mnt/vendor/persist/sensors/sensors_list.txt
    chown system system /mnt/vendor/persist/sensors/registry
    chown system system /mnt/vendor/persist/sensors/registry/registry
    chown system system /mnt/vendor/persist/sensors/registry/registry/sensors_registry
    chown system system /mnt/vendor/persist/sensors/sensors_settings
    chown system system /mnt/vendor/persist/sensors/registry/sns_reg_config
    chown system system /mnt/vendor/persist/sensors/registry/sns_reg_version
    chown system system /mnt/vendor/persist/sensors/registry/config
    chmod 0664 /mnt/vendor/persist/sensors/sensors_settings
    chown system system /sys/kernel/boot_adsp/ssr

on boot
# SSC CORE
    chown system radio /sys/class/sensors/ssc_core/operation_mode
    chown system log /sys/class/sensors/ssc_core/dumpstate
    chown system radio /sys/class/sensors/ssc_core/ssc_pid
    chown system radio /sys/class/sensors/ssc_core/mode
    chown system radio /sys/class/sensors/ssc_core/ssr_msg
    chown system radio /sys/class/sensors/ssc_core/ssr_reset
    chown system system /sys/class/sensors/ssc_core/remove_sysfs
    chown system radio /sys/class/sensors/ssc_core/fac_fstate
    chown system system /sys/class/sensors/ssc_core/support_algo
    chown system system /sys/class/sensors/ssc_core/support_dual_sensor
    chown system radio /sys/class/sensors/ssc_core/abs_lcd_onoff
    chown system radio /sys/class/sensors/ssc_core/lcd_onoff
    chown system radio /sys/class/sensors/ssc_core/algo_lcd_onoff
    chown system system /sys/class/sensors/ssc_core/sensor_dump
    chown system system /sys/class/sensors/ssc_core/ssc_firmware_info
    chown system system /sys/class/sensors/ssc_core/light_seamless
    chown system system /sys/class/sensors/ssc_core/fold_state
    chown system system /sys/class/sensors/ssc_core/update_ssc_flip
    chown system system /sys/class/sensors/ssc_core/ar_mode
    chown system system /sys/class/sensors/ssc_core/sbm_init

# Sensor
    chown system system /sys/kernel/boot_slpi/cmd
    chown system system /sys/kernel/boot_slpi/cmd_result

# Accelerometer Sensor
    chown system radio /sys/class/sensors/accelerometer_sensor/name
    chown system radio /sys/class/sensors/accelerometer_sensor/vendor
    chown system radio /sys/class/sensors/accelerometer_sensor/raw_data
    chown system radio /sys/class/sensors/accelerometer_sensor/calibration
    chown system radio /sys/class/sensors/accelerometer_sensor/selftest
    chown system radio /sys/class/sensors/accelerometer_sensor/reactive_alert
    chown system radio /sys/class/sensors/accelerometer_sensor/lowpassfilter
    chown system system /sys/class/sensors/accelerometer_sensor/dhr_sensor_info
    chown system system /sys/class/sensors/accelerometer_sensor/turn_over_crash

# Gyro Sensor
    chown system radio /sys/class/sensors/gyro_sensor/name
    chown system radio /sys/class/sensors/gyro_sensor/vendor
    chown system radio /sys/class/sensors/gyro_sensor/selftest_revised
    chown system radio /sys/class/sensors/gyro_sensor/power_on
    chown system radio /sys/class/sensors/gyro_sensor/power_off
    chown system radio /sys/class/sensors/gyro_sensor/selftest
    chown system media /sys/class/sensors/gyro_sensor/temperature

# Sub Accelerometer Sensor
    chown system radio /sys/class/sensors/sub_accelerometer_sensor/name
    chown system radio /sys/class/sensors/sub_accelerometer_sensor/vendor
    chown system radio /sys/class/sensors/sub_accelerometer_sensor/raw_data
    chown system radio /sys/class/sensors/sub_accelerometer_sensor/calibration
    chown system radio /sys/class/sensors/sub_accelerometer_sensor/selftest
    chown system radio /sys/class/sensors/sub_accelerometer_sensor/reactive_alert
    chown system radio /sys/class/sensors/sub_accelerometer_sensor/lowpassfilter
    chown system system /sys/class/sensors/sub_accelerometer_sensor/dhr_sensor_info

# Sub Gyro Sensor
    chown system radio /sys/class/sensors/sub_gyro_sensor/name
    chown system radio /sys/class/sensors/sub_gyro_sensor/vendor
    chown system radio /sys/class/sensors/sub_gyro_sensor/selftest_revised
    chown system radio /sys/class/sensors/sub_gyro_sensor/power_on
    chown system radio /sys/class/sensors/sub_gyro_sensor/power_off
    chown system radio /sys/class/sensors/sub_gyro_sensor/selftest
    chown system media /sys/class/sensors/sub_gyro_sensor/temperature

# Magnetic Sensor
    chown system radio /sys/class/sensors/magnetic_sensor/name
    chown system radio /sys/class/sensors/magnetic_sensor/vendor
    chown system radio /sys/class/sensors/magnetic_sensor/raw_data
    chown system radio /sys/class/sensors/magnetic_sensor/asa
    chown system radio /sys/class/sensors/magnetic_sensor/dac
    chown system radio /sys/class/sensors/magnetic_sensor/chk_registers
    chown system radio /sys/class/sensors/magnetic_sensor/selftest
    chown system system /sys/class/sensors/magnetic_sensor/dhr_sensor_info

# DIGITAL HALL
    chown system radio /sys/class/sensors/digital_hall/vendor
    chown system radio /sys/class/sensors/digital_hall/name
    chown system radio /sys/class/sensors/digital_hall/selftest
    chown system radio /sys/class/sensors/digital_hall/spec
    chown system radio /sys/class/sensors/digital_hall/test_spec
    chown system radio /sys/class/sensors/digital_hall/ref_angle
    chown system radio /sys/class/sensors/digital_hall/read_data
    chown system radio /sys/class/sensors/digital_hall/test_read
    chown system radio /sys/class/sensors/digital_hall/reset_auto_cal
    chown system radio /sys/class/sensors/digital_hall/check_auto_cal
    chown system radio /sys/class/sensors/digital_hall/rf_test
    chown system radio /sys/class/sensors/digital_hall/backup_restore_auto_cal
    chown system radio /sys/class/sensors/digital_hall/logging_start
    chown system radio /sys/class/sensors/digital_hall/logging_stop
    chown system radio /sys/class/sensors/digital_hall/flexcover_thd
    chown system radio /sys/class/sensors/digital_hall/block_autocal
    chown system system /sys/class/sensors/digital_hall/dhr_sensor_info

# Barometer Sensor
    chown system radio /sys/class/sensors/barometer_sensor/name
    chown system radio /sys/class/sensors/barometer_sensor/vendor
    chown system radio /sys/class/sensors/barometer_sensor/sea_level_pressure
    chown system radio /sys/class/sensors/barometer_sensor/calibration
    chown system radio /sys/class/sensors/barometer_sensor/eeprom_check
    chown system radio /sys/class/sensors/barometer_sensor/temperature
    chown system radio /sys/class/sensors/barometer_sensor/selftest
    chown system system /sys/class/sensors/barometer_sensor/dhr_sensor_info
    chown system system /sys/class/sensors/barometer_sensor/sw_offset

# Proximity Sensor
    chown system radio /sys/class/sensors/proximity_sensor/name
    chown system radio /sys/class/sensors/proximity_sensor/vendor
    chown system radio /sys/class/sensors/proximity_sensor/state
    chown system radio /sys/class/sensors/proximity_sensor/raw_data
    chown system radio /sys/class/sensors/proximity_sensor/barcode_emul_en
    chown system radio /sys/class/sensors/proximity_sensor/prox_avg
    chown system radio /sys/class/sensors/proximity_sensor/prox_cal
    chown system radio /sys/class/sensors/proximity_sensor/thresh_high
    chown system radio /sys/class/sensors/proximity_sensor/thresh_low
    chown system radio /sys/class/sensors/proximity_sensor/prox_offset_pass
    chown system radio /sys/class/sensors/proximity_sensor/prox_trim
    chown system radio /sys/class/sensors/proximity_sensor/thresh_detect_high
    chown system radio /sys/class/sensors/proximity_sensor/thresh_detect_low
    chown system radio /sys/class/sensors/proximity_sensor/prox_alert_thresh
    chown system system /sys/class/sensors/proximity_sensor/dhr_sensor_info
    chown system radio /sys/class/sensors/proximity_sensor/prox_position
    chown system system /sys/class/sensors/proximity_sensor/prox_wakelock
    chown system system /sys/class/sensors/proximity_sensor/touch_prox

# Light Sensor
    chown system radio /sys/class/sensors/light_sensor/name
    chown system radio /sys/class/sensors/light_sensor/vendor
    chown system radio /sys/class/sensors/light_sensor/lux
    chown system radio /sys/class/sensors/light_sensor/raw_data
    chown system radio /sys/class/sensors/light_sensor/read_copr
    chown system radio /sys/class/sensors/light_sensor/boled_enable
    chown system radio /sys/class/sensors/light_sensor/hallic_info
    chown system system /sys/class/sensors/light_sensor/lcd_onoff
    chown system radio /sys/class/sensors/light_sensor/sensorhub_ddi_spi_check
    chown system radio /sys/class/sensors/light_sensor/light_cal
    chown system radio /sys/class/sensors/light_sensor/set_aod_rect
    chown system radio /sys/class/sensors/light_sensor/brightness
    chown system radio /sys/class/sensors/light_sensor/debug_info
    chown system radio /sys/class/sensors/light_sensor/hyst

# Sub Light Sensor
    chown system radio /sys/class/sensors/sub_light_sensor/name
    chown system radio /sys/class/sensors/sub_light_sensor/vendor
    chown system radio /sys/class/sensors/sub_light_sensor/lux
    chown system radio /sys/class/sensors/sub_light_sensor/raw_data
    chown system radio /sys/class/sensors/sub_light_sensor/dhr_sensor_info

# Hidden Hole
    chown system radio /sys/class/sensors/hidden_hole/hh_ver
    chown system radio /sys/class/sensors/hidden_hole/hh_write_all_data
    chown system radio /sys/class/sensors/hidden_hole/hh_is_exist_efs
    chown system radio /sys/class/sensors/hidden_hole/hh_ext_prox_th

# Hidden Hole Sub
    chown system radio /sys/class/sensors/hidden_hole/hh_sub_ver
    chown system radio /sys/class/sensors/hidden_hole/hh_sub_write_all_data
    chown system radio /sys/class/sensors/hidden_hole/hh_sub_is_exist_efs
    chown system radio /sys/class/sensors/hidden_hole/hh_sub_ext_prox_th

# Flip Cover Detector
    chown system radio /sys/class/sensors/flip_cover_detector_sensor/nfc_cover_status
    chown system radio /sys/class/sensors/flip_cover_detector_sensor/factory_cover_status
    chown system radio /sys/class/sensors/flip_cover_detector_sensor/axis_threshold_setting

# Meta event
    chown system radio /sys/class/sensors/sensor_dev/flush

# Permissions for Grip Sensor
    chown system radio /sys/class/sensors/grip_sensor/motion
    chown system radio /sys/class/sensors/grip_sensor/unknown_state
    chown system radio /sys/class/sensors/grip_sensor/unknown_state_b
    chown system radio /sys/class/sensors/grip_sensor/noti_enable

    chown system radio /sys/class/sensors/grip_sensor_sub/motion
    chown system radio /sys/class/sensors/grip_sensor_sub/unknown_state
    chown system radio /sys/class/sensors/grip_sensor_sub/unknown_state_b
    chown system radio /sys/class/sensors/grip_sensor_sub/noti_enable

    chown system radio /sys/class/sensors/grip_sensor_sub2/motion
    chown system radio /sys/class/sensors/grip_sensor_sub2/unknown_state
    chown system radio /sys/class/sensors/grip_sensor_sub2/unknown_state_b
    chown system radio /sys/class/sensors/grip_sensor_sub2/noti_enable

    chown system radio /sys/class/sensors/grip_sensor_sub3/motion
    chown system radio /sys/class/sensors/grip_sensor_sub3/unknown_state
    chown system radio /sys/class/sensors/grip_sensor_sub3/unknown_state_b
    chown system radio /sys/class/sensors/grip_sensor_sub3/noti_enable

    chown system radio /sys/class/sensors/grip_sensor_wifi/motion
    chown system radio /sys/class/sensors/grip_sensor_wifi/unknown_state
    chown system radio /sys/class/sensors/grip_sensor_wifi/unknown_state_b
    chown system radio /sys/class/sensors/grip_sensor_wifi/noti_enable

on property:sys.boot_completed=1
# Permissions for Grip Sensor
    chown root input /sys/devices/virtual/input/input*/enable

# SX93xx
    chown system radio /sys/class/sensors/grip_sensor/name
    chown system radio /sys/class/sensors/grip_sensor/vendor
    chown system radio /sys/class/sensors/grip_sensor/raw_data
    chown system radio /sys/class/sensors/grip_sensor/threshold
    chown system radio /sys/class/sensors/grip_sensor/calibration
    chown system radio /sys/class/sensors/grip_sensor/onoff
    chown system radio /sys/class/sensors/grip_sensor/reset
    chown system radio /sys/class/sensors/grip_sensor/mode
    chown system radio /sys/class/sensors/grip_sensor/gain
    chown system radio /sys/class/sensors/grip_sensor/start
    chown system radio /sys/class/sensors/grip_sensor/normal_threshold
    chown system radio /sys/class/sensors/grip_sensor/ch_state
    chown system radio /sys/class/sensors/grip_sensor/body_threshold
    chown system radio /sys/class/sensors/grip_sensor/grip_flush
    chown system radio /sys/class/sensors/grip_sensor/irq_count
    chown system radio /sys/class/sensors/grip_sensor/irq_count_b
    chown system radio /sys/class/sensors/grip_sensor/resolution
    chown system radio /sys/class/sensors/grip_sensor/adc_filt
    chown system radio /sys/class/sensors/grip_sensor/useful_filt
    chown system radio /sys/class/sensors/grip_sensor/ch_count
    chown system radio /sys/class/sensors/grip_sensor/gain_ch2
    chown system radio /sys/class/sensors/grip_sensor/raw_data_ch2
    chown system radio /sys/class/sensors/grip_sensor/diff_avg_ch2
    chown system radio /sys/class/sensors/grip_sensor/normal_threshold_ch2
    chown system radio /sys/class/sensors/grip_sensor/sampling_freq_ch2
    chown system radio /sys/class/sensors/grip_sensor/ch_count
    chown system radio /sys/class/sensors/grip_sensor/rawfilt_ch2
    chown system radio /sys/class/sensors/grip_sensor/irq_count_ch2
    chown system radio /sys/class/sensors/grip_sensor/mcc
    chown system radio /sys/class/sensors/grip_sensor/hysteresis
    chown system radio /sys/class/sensors/grip_sensor/sampling_freq
    chown system radio /sys/class/sensors/grip_sensor/sampling_freq_b
    chown system radio /sys/class/sensors/grip_sensor/isum
    chown system radio /sys/class/sensors/grip_sensor/scan_period
    chown system radio /sys/class/sensors/grip_sensor/analog_gain
    chown system radio /sys/class/sensors/grip_sensor/cdc_up
    chown system radio /sys/class/sensors/grip_sensor/cdc_down
    chown system radio /sys/class/sensors/grip_sensor/temp_enable
    chown system radio /sys/class/sensors/grip_sensor/cml
    chown system radio /sys/class/sensors/grip_sensor/motion
    chown system radio /sys/class/sensors/grip_sensor/unknown_state
    chown system radio /sys/class/sensors/grip_sensor/unknown_state_2ch
    chown system radio /sys/class/sensors/grip_sensor/noti_enable
    chown system radio /sys/class/sensors/grip_sensor/country_code

on post-fs-data
# sensors log dir
    mkdir /data/vendor/sensors 0777 system system
    mkdir /data/vendor/sensors/scripts 0777 system system