system_public_prop(sec_camera_prop)
system_public_prop(sns_camera_light_prop)
system_public_prop(system_sensor_prop)
system_public_prop(product_ship_prop)
