allow hal_power latency_device:chr_file { open write };
allow hal_power sysfs_kgsl:file { open write };
allow hal_power sysfs_devfreq:file { open write };
allow hal_power sysfs_sec_touchscreen:file { open write };
