on early-init
    chown system system /sys/class/sec/tsp/cmd
    chmod 0664 /sys/class/sec/tsp/cmd

service vendor.touch-hal /vendor/bin/hw/vendor.lineage.touch-service.samsung_sm8250
    class hal
    user system
    group system
